.body {
    background-image: url("product-images/009.jpg");
    no-repeat fix; background-size: 100%;
}
.wrapper{ 
    margin-left: 10px;
    margin-right: 10px;
    min-width: 650px;
    background-color: white ;
}